<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>velocity</title>
</head>

<body>
    #parse("/layout/header.vm")
<hr />
    $screen_content
<hr />
    #parse("/layout/footer.vm")
</body>

</html>