<section class="content">

    #if($status == "NORMAL")
    <div>일반 </div>
    #elseif($status == "RENTNOW")
    <div>찾음</div>
    #else
    <div>분실</div>
    #end

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>status</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        #foreach($book in $list)
        <tr>
            <td>$book.name</td>
            #if($book.status == "NORMAL")
            <td>일반</td>
            #elseif($book.status == "RENTNOW")
            <td>대여중</td>
            #else
            <td>분실</td>
            #end
            <td>$book.comment</td>
        </tr>
        #end
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <a href="/board/register" class="list-group-item">
                    등록 화면 이동
                </a>
                <a href="/board/listPage" class="list-group-item">목록 화면 이동 </a>
                <a href="/main" class="list-group-item">velocity 페이지 이동 </a>
            </div>
        </div>
    </div>
</section>

